// Fonts
$font-primary: 'Nunito', sans-serif;
$font-link: 'Caveat Brush', cursive;
$font-heading-1: 'Poppins', sans-serif;
$font-heading-2: 'Abril Fatface', cursive;

// Colors
$color-primary: #656565;
$color-primary-2: #6d6c6ccb;
$color-secondary: #fff;
$color-tertiary: #fe5d4c;
$color-tertiary-2: #992600;
$color-tertiary-3: #b6350b;
$bg-color: #484848;

// BKG Colors
$bkg-top-color: #0a1923;
$bkg-dropdown-color: #f3f3f4;
$bkg-section-color: rgba(241, 238, 238, 0.466);
$bkg-card-color: rgba(132, 132, 132, 0.66);
$bkg-btn-color: #080808;
// Box Shadow
$box-shadow: #efeded;


// Default Font Size
$default-font-size: 62.5%;


// nunito -- obican text 

// h2 abril fatface

// a - caveat brush, cursive fw - 400