// Fonts
$font-primary: 'Nunito', sans-serif;
$font-link: 'Caveat Brush', cursive;
$font-heading: 'Abril Fatface', cursive;

// Colors
$color-primary: #656565;
$color-secondary: #fff;
$color-tertiary: #fe5d4c;
$bg-color: #484848;

// Default Font Size
$default-font-size: 62.5%;


// nunito -- obican text 

// h2 abril fatface

// a - caveat brush, cursive fw - 400