.card {
  box-shadow: 0rem 0 1rem rgba($bg-color, .1);
  .card__img {
    min-height: 20rem;
    color: $color-secondary;
    position: relative;
    overflow: hidden;
    &-img {
      width: 100%;
      height: 100%;
      transition: all 3s;
    }
    &-price {
      top: 0;
      right: 0;
      background-color: rgba($bkg-card-color, .5);
      padding: .8rem 1.6rem;
      border-bottom-left-radius: 2.4rem;
      span {
        display: block;
      }
    }
    &-status {
      bottom: 0;
      left: 0;
      padding: .6rem  1.6rem;
      background-color: rgba(27, 27, 27, 0.9);
    }
    &-ribbon {
      bottom: 0;
      right: 0;
      padding: .4rem  1rem;
      background-color: rgba($color-tertiary, .8);
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        bottom: 0;
        left: -12px;
        border-top: 15px solid transparent;
        border-right: 12px solid rgba($color-tertiary, .8);
        border-bottom: 15px solid transparent;
        width: 0;
      }
    }
    & > * {
      position: absolute;
    }
    &:hover > .scale__img {
      transform: scale(1.3);
    }
  }
  .card__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    padding: 2rem;
    a {
      color: $color-tertiary-3;
      &:focus {
        outline: none;
      }
    }
    &-title {
      grid-column: 1 / -1;
      border-bottom: 2px solid rgba($color-primary-2, .1);
      padding-bottom: .5rem;
    }
    &-location {
      grid-column: 1 / -1;
      margin-top: 1rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &-description {
      grid-column: 1 / -1;
      margin-top: 0.7rem;
    }
    &-box {
      padding: 2rem 0;
      color: $color-primary-2;
      display: grid;
      &--2 {
        justify-content: center;
      }
      &--3 {
        justify-content: end;
      }
    }
    &-icon {
      fill: $color-primary;
    }
  }
}
// IMG Locations Card
.locations__card {
  height: 25rem;
  box-shadow: 0rem 0 1rem rgba($bg-color, .1);
  position: relative;
  background-position: center;
  background-size: cover;
  font-family: $font-link;
 &--1 {
   background-image: linear-gradient(rgba($bkg-btn-color, .6),
   rgba($bkg-btn-color, .6)), url(../img/london-min.jpg);
   @include respond-img {
    background-image: linear-gradient(rgba($bkg-btn-color, .6),
    rgba($bkg-btn-color, .6)), url(../img/london.jpg);
   }
  }
 &--2 {
   background-image: linear-gradient(rgba($bkg-btn-color, .6),
   rgba($bkg-btn-color, .6)), url(../img/rome-min.jpg);
   @include respond-img {
    background-image: linear-gradient(rgba($bkg-btn-color, .6),
    rgba($bkg-btn-color, .6)), url(../img/rome.jpg);
   }
  }
 &--3 {
   background-image: linear-gradient(rgba($bkg-btn-color, .6),
   rgba($bkg-btn-color, .6)), url(../img/tokyo-min.jpg);
   @include respond-img {
    background-image: linear-gradient(rgba($bkg-btn-color, .6),
    rgba($bkg-btn-color, .6)), url(../img/tokyo.jpg);
   }
  }
 &--4 {
   background-image: linear-gradient(rgba($bkg-btn-color, .6),
     rgba($bkg-btn-color, .6)), url(../img/paris-min.jpg);
     @include respond-img {
      background-image: linear-gradient(rgba($bkg-btn-color, .6),
      rgba($bkg-btn-color, .6)), url(../img/paris.jpg);
     }
    }
 &--5 {
   background-image: linear-gradient(rgba($bkg-btn-color, .6),
   rgba($bkg-btn-color, .6)), url(../img/newyork-min.jpg);
   @include respond-img {
    background-image: linear-gradient(rgba($bkg-btn-color, .6),
    rgba($bkg-btn-color, .6)), url(../img/newyork.jpg);
   }
  }
 &--6 {
   background-image: linear-gradient(rgba($bkg-btn-color, .6),
   rgba($bkg-btn-color, .6)), url(../img/dubai-min.jpg);
   @include respond-img {
    background-image: linear-gradient(rgba($bkg-btn-color, .6),
    rgba($bkg-btn-color, .6)), url(../img/dubai.jpg);
   }
  }
  & > * {
    position: absolute;
  }
}