// Make helper class box for full center section
// MAKE  one for section with 3 COLUMNS and one for 4 COLUMNS

// 1200 / 4 = 30rem
// 1200 / 3 = 40rem
.box-center {
	grid-column: center-start / center-end;
	display: grid;
  grid-template-columns: [center-start] repeat(8, 
                         [col-start] minmax(min-content, 16.5rem) 
                         [col-end]) [center-end];
                         grid-template-rows: auto;
}
.box-center-3 {
	display: grid;
	grid-column: center-start / center-end;
  grid-row-gap:2rem;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  margin-bottom: 7rem;
}
.box-center-4 {
	display: grid;
	grid-column: center-start / center-end;
	grid-template-columns: repeat(auto-fit, minmax(calc(25rem - 2rem), 1fr));
	grid-column-gap: 2rem;
  grid-row-gap:2rem;
  margin-top: 5rem;
}
// Create active link class with jQuery
// Active hover class
.active::after {
  content: "";
    display: block;
    height: 4px;
    background-color: $color-tertiary;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}