// *************************** //
//          SERVICE           //
// ************************* //
.service {
  background-color: $bkg-section-color;
   grid-column: full-start / full-end;
   @include grid-template-columns;
   grid-template-rows: repeat(2, min-content);
   text-align: center;
   font-size: 1.5rem;
   &__title {
    grid-column: col-start 3 / col-end 6;
    margin-top: 7rem;
   }
   &__container {
    grid-row: 2 / 3;
    margin-bottom: 10rem;
    position: relative;
   }
   &__icon {
    svg {
      width: 9rem;
      height: 9rem;
      border: .7rem solid $color-secondary;
      border-radius: 50%;
      padding: 1rem;
      .icon-tools-2 {
        transform: scale(.75) translate(1.2rem, .9rem);
      }
    }
   }
   &__content:hover > &__icon > .icon {
      box-shadow: 0 0 0 .5rem $box-shadow;
   }
}
// *************************** //
//     LATEST PROPERTIES      //
// ************************* //
.latest__properties {
  font-size: 1.5rem;
  grid-template-rows: repeat(2, min-content);
  // @include grid-template-columns;
  grid-column: center-start / center-end;
  &-title {
    // grid-column: 1 / -1;
    text-align: center;
    margin-top: 7rem;
  }
}
// *************************** //
//        LOCATIONS           //
// ************************* //
.locations {
   background-color: $bkg-section-color;
   grid-column: full-start / full-end;
   @include grid-template-columns;
   grid-template-rows: repeat(2, min-content);
   font-size: 1.7rem;
   &__title {
    grid-column: col-start 3 / col-end 6;
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-align: center;
   }
   &__h4 {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 3.2rem;
   }
   &__listing {
    color: $color-secondary;
    left: 2.5rem;
    bottom: 1.5rem;
    padding: .7rem 1.7rem;
    border-radius: 2.3rem;
    background-color: rgba($bkg-btn-color, .6);
    font-family: $font-primary;
   }
   &__state {
    right: 2rem;
    bottom: 1.5rem;
    color: $color-tertiary;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    a {
      font-size: 2.2rem;
      color: $color-tertiary;
    }
   }
}
// *************************** //
//    Featured Properties     //
// ************************* //
.featured__properties {
  grid-column: center-start / center-end;
  font-size: 1.5rem;
   &-title {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  .card__img {
    min-height: 25rem;
  }
}
// *************************** //
//       Testimonials         //
// ************************* //
.testimonial {
  background-color: $bkg-section-color;
  grid-column: full-start / full-end;
  @include grid-template-columns;
  text-align: center;
  font-size: 1.6rem;
  &__title {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  &__box {
    background-color: $color-secondary; 
    position: relative;
    padding: 5rem 3rem;
    transition: all .2s;
    margin-top: 5rem;
    &-title {
      font-weight: 600;
    }
    &:hover {
      transform: translateY(-.5rem) scale(1.005);
    }
  }
  &__img {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  &__details{
    margin-top: 1rem;
  }
  &__info {
    margin-top: 2rem;
    color: $color-tertiary;
    font-weight: 600;
  }
  &__stars {
    margin-top: 1rem;
    .icon {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}
// *************************** //
//   Best Deals Properties    //
// ************************* //
.bestdeals__properties {
   background-image: linear-gradient(rgba($bkg-section-color, .1), rgba($bkg-section-color, 1)); 
   grid-column: full-start / full-end;
   @include grid-template-columns;
   font-size: 1.4rem;
   &-title {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 7rem;
   }
   &-card {
     background-color: $color-secondary;
     &:hover {
      box-shadow: 0rem 0 2rem rgba($bg-color, .3);
     }
   }
   &-content { 
     color: $color-primary;
     padding: 2rem 1.5rem;
     a {
       color: $color-primary;
       font-size: 1.6rem;
     }
   }
   &-small-title {
     display: flex;
     justify-content: space-between;
    a {
      color: $color-tertiary;
      font-size: 1.8rem;
    }
   }
   .card .card__img-img {
     transition: all 1s;
   }
}
.agents__content {
  background-color: #ccc;
   grid-column: center-start / center-end;
}
.footer {
  background-color: coral;
   grid-column: full-start / full-end;
}