.header {
	background-color: orangered;
}
.service {
	background-color: blue;
}
.latest__properties {
	background-color: #333;
}
.locations {
	background-color: yellow;
}
.featured__properties {
	background-color: grey;
}
.testimonials {
	background-color: coral;
}
.bestdeals__properties {
	background-color: green;
}
.agents__content {
	background-color: #ccc;
}
.footer {
	background-color: coral;
}